.items {
  display: grid;
  grid-gap: 10px;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  @media screen and (min-aspect-ratio: 16/9) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
  }
}
