.cart {
  height: 100%;
  width: 100%;
  padding: 1rem;
  .cart-head {
    position: relative;
    top: 0;
    margin: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .flex-body {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    .body-2 {
      flex: 1;
      /* padding: 1rem; */

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 350px;
      height: 70vh;
      @media screen and (max-aspect-ratio: 9/16) {
        height: 100%;
      }
      .checkout {
        border-radius: 12px;
        position: relative;
        display: flex;
        flex-direction: column;
        background: var(--color-dark);
        height: 100%;
        width: 100%;
        .checkout-header {
          flex: 1;
          padding: 1rem;
          h2 {
            font-size: 1.25rem;
            font-weight: bold;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            margin: 0;
            padding-bottom: 1rem;
            line-height: 1.25rem;
            color: var(--color-light);
          }
        }
        .checkout-info {
          padding: 1rem;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          text-align: center;
          color: var(--color-light);
          font-size: 0.875rem;
          span {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.25rem;
            text-align: left;
            > text {
              &:first-child {
                font-weight: bold;
              }
              &:last-child {
                color: rgba(255, 255, 255, 0.7);
                text-align: right;
              }
            }
          }
        }
        .checkout-final {
          margin-top: auto;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding: 1rem;
          .special-instructions {
            textarea {
              width: 100%;
              padding: 0.5rem;
              border-radius: 12px;
              border: 1px solid rgba(255, 255, 255, 0.1);
              background: var(--color-dark);
              color: var(--color-light);
              font-size: 0.875rem;
              resize: vertical;
              min-height: 80px;
            }
          }
          .checkout-total {
            display: flex;
            justify-content: space-between;

            .checkout-total-label {
              font-size: 1rem;
              font-weight: bold;
              color: var(--color-light);
            }

            .checkout-total-value {
              font-size: 1rem;
              font-weight: bold;
              color: var(--color-light);
            }
          }

          .checkout-button {
            background: var(--color-primary);
            color: var(--color-white);
            padding: 0.5rem 1rem;
            border-radius: 12px;
            border: none;
            cursor: pointer;
            font-size: 1rem;
            font-weight: bold;
            width: 100%;
            transition: transform 0.2s ease;
            &:active {
              transform: scale(0.95);
            }
            @media screen and (max-width: 768px) {
              padding: 1.5rem 2rem;
            }
          }
        }
      }
    }
    .body-1 {
      min-width: 350px;
      flex: 2;
      height: 100%;
      width: 100%;

      .empty-cart {
        align-items: center;
        height: 100%;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h2 {
          font-size: 1.5rem;
          font-weight: bold;
          color: var(--color-light);
        }
        p {
          font-size: 1rem;
          color: var(--color-light);
        }
        .explore-button {
          background: var(--color-primary);
          color: var(--color-light);
          font-size: large;
          padding: 0.5rem 2rem;
          border-radius: 12px;
          border: none;
          cursor: pointer;
          font-weight: bold;
          transition: transform 0.2s ease;
          &:active {
            transform: scale(0.95);
          }
        }
      }
      .cart-body {
        width: 100%;
        height: 100%;
        max-height: 70vh;
        overflow-y: scroll;
        overflow-x: hidden;

        .cart-items {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .item-body {
            border-radius: 12px;
            padding: 1rem;
            display: flex;
            gap: 1rem;
            width: 100%;
            height: 100%;
            background: var(--color-dark);
            .thumbnail {
              max-width: 200px;
              width: 40%;
              aspect-ratio: 1;
              object-fit: cover;
              border-radius: 12px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            .item-details {
              display: flex;
              flex-direction: column;
              align-items: end;
              gap: 1em;
              width: 100%;
              .details {
                width: 100%;
                display: flex;
                align-items: end;
                flex-direction: column;
                flex: 1;
              }
              .item-name {
                font-size: large;
                font-weight: bold;
              }
              .item-price {
                font-size: large;
                font-weight: bold;
                font-family: "DM Serif Text", serif;
              }
              .quantity {
                display: flex;
                gap: 1rem;
                align-items: center;
                button {
                  font-size: large;
                  font-weight: bold;
                  background: var(--color-primary);
                  color: var(--color-light);
                  padding: 1rem;
                  line-height: 0;
                  aspect-ratio: 1;
                  border-radius: 100px;
                  cursor: pointer;
                  transition: all 0.3s ease-in-out;
                  &:active {
                    transform: scale(0.95);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
