.item {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  .flex-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    .body-1 {
      flex: 1;
      min-width: 350px;
      display: flex;
      flex-direction: column;
      .thumbnail {
        max-height: 600px;
        width: 100%;
        aspect-ratio: 1;
        background-size: cover;
        background-position: center;
        border-radius: 30px;
        @media screen and (max-width: 768px) {
          border-radius: 15px;
          max-width: 100%;
          height: auto;
          width: auto;
        }
      }
      .item-name {
        font-size: 2rem;
        font-weight: bold;
        margin: 1rem 0;
        font-family: "JetBrains Mono", sans-serif;
      }
      .item-price {
        font-size: 2rem;
        font-weight: bold;
        margin: 1rem 0;
        font-family: "DM Serif Text", sans-serif;
      }
    }
    .body-2 {
      flex: 1;
      min-width: 350px;
      background: var(--color-dark);
      border-radius: 30px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .info-container {
        > div {
          padding: 1rem;
          > h1 {
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 1;
            margin: 1rem 0;
            font-family: "JetBrains Mono", sans-serif;
            border-bottom: 1px solid var(--color-light);
            padding-bottom: 0.5rem;
          }
          > p {
            color: var(--color-light);
            font-size: 1rem;
            line-height: 1.5;
            margin: 1rem 0;
          }
        }
      }
      .actions {
        padding: 1rem;
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        @media screen and (max-width: 768px) {
          justify-content: center;
        }
        .quantity {
          display: flex;
          align-items: center;
          gap: 1rem;
          @media screen and (max-width: 768px) {
            width: 100%;
            justify-content: flex-end;
          }
          button {
            background: var(--color-primary);
            color: var(--color-light);
            border: none;
            padding: 0.6rem 1.2rem;
            border-radius: 100px;
            font-size: var(--font-small);
            font-weight: bold;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            @media screen and (max-width: 768px) {
              padding: 0.8rem 1.2rem;
              font-size: var(--font-small);
            }
            &:active {
              transform: scale(0.95);
            }
          }
        }
        .add-button {
          background: var(--color-primary);
          color: var(--color-light);
          border: none;
          padding: 0.6rem 1.2rem;
          border-radius: 10px;
          font-size: var(--font-small);
          font-weight: bold;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          @media screen and (max-width: 768px) {
            width: 100%;
            padding: 0.8rem 1.2rem;
          }
          &:active {
            transform: scale(0.95);
          }
        }
      }
    }
  }
}
