.filter-body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-container {
  position: relative;
  width: 90%;
  max-width: 750px;
  background-color: var(--background);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.filter-header {
  h1 {
    font-size: 24px;
    font-weight: bold;
    color: var(--text);
  }
}
.filter-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* .side-by-side {
    display: flex;
    flex-direction: row;
    gap: 10px;
    > div.filter-item {
      flex: 1;
    }
  } */
  .filter-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .category-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      .category-item {
        /* flex: 1 1 auto; */
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
        > button.category-button {
          font-size: var(--font-med);
          border: 1px solid var(--color-dark);
          border-radius: 20px;
          padding: 10px 20px;
          cursor: pointer;
          color: var(--color-light);
          transition: all 0.1s linear;
          &:hover {
            background: var(--color-primary);
            color: var(--color-dark);
          }
          &:active {
            transform: scale(0.96);
          }
        }
        > button.button-selected {
          background: var(--color-primary);
        }
      }
    }
  }
}
.filter-footer {
  display: flex;
  justify-content: end;
  gap: 20px;
  button {
    padding: 10px 20px;
    font-size: var(--font-small);
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.1s linear;
    color: var(--color-light);
    &:hover {
      background: var(--color-dark);
    }
    &:active {
      transform: scale(0.96);
    }
    &.reset-button {
      border: 1px white solid;
    }
    &.apply-button {
      background: var(--color-secondary);
    }
  }
}
